.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 40px;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(233, 222, 222, 0.865);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e7d32;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search__bar {
  margin: 0 20px;
  position: relative;
}

.search__bar input {
  width: 400px;
  padding: 8px 20px;
  border: 1px solid #969a9698;
  border-radius: 5px;
  outline: none;
}

.search__bar i{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #969a9698;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__links .nav__item {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 500;
  padding-block: 10px;
  padding-inline: 18px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.nav__links .nav__item:hover {
  background-color: #388e3c;
  color: white;
}

.login__icon{
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav__links .login__icon:hover {
  background-color: #388e3c;
  color: white;
}

.cart__icon {
  position: relative;
}

.cart__count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #388e3c;
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (width < 832px) {
  .search__bar{
    display: none;
  }

  .header{
    gap: 2rem;
  }
}